TLS for IP addresses

TLS connections only support DNS domain names ([RFC 5280 Section 7.2](https://tools.ietf.org/html/rfc5280#section-7.2)).

```sh
Error: grpc_health_check::Error(Transport, tonic::transport::Error(Transport, hyper::Error(Connect, InvalidDNSNameError)))
```

Blocked by 

- https://github.com/ctz/rustls/issues/184
- https://github.com/briansmith/webpki/issues/54